<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
<TITLE>BeagleBone Black Cape</TITLE>
</HEAD>
<BODY LANG="pl-PL" DIR="LTR">
<P>This project template is the basis of an expansion board for the
<A HREF="http://beagleboard.org/black" TARGET="blank">BeagleBone Black</A> <BR><BR>

This base project includes a PCB edge defined as the same <BR>
size as the BeagleBone Black Cape refernece with the connectors placed <BR>
correctly to align the two boards. <BR><BR>

Contours and holes can be easely modified, just remove line or hole<BR> 
and redraw wath you want in layer "edge.cuts".<BR>

The final PCB looks like the following:
</P>
<P><IMG SRC="brd.png" NAME="brd" ALIGN=BOTTOM WIDTH=564 HEIGHT=731
BORDER=0><BR><BR><BR><BR>
</P>
<P>(c)2015 Jakub Źrebiec<BR></P>
