[submodule "modules/Air_Coils_SML_NEOSID.pretty"]
	path = modules/Air_Coils_SML_NEOSID.pretty
	url = https://github.com/KiCad/Air_Coils_SML_NEOSID.pretty.git
[submodule "modules/Battery_Holders.pretty"]
	path = modules/Battery_Holders.pretty
	url = https://github.com/KiCad/Battery_Holders.pretty.git
[submodule "modules/Buttons_Switches_SMD.pretty"]
	path = modules/Buttons_Switches_SMD.pretty
	url = https://github.com/KiCad/Buttons_Switches_SMD.pretty.git
[submodule "modules/Buttons_Switches_THT.pretty"]
	path = modules/Buttons_Switches_THT.pretty
	url = https://github.com/KiCad/Buttons_Switches_THT.pretty.git
[submodule "modules/Buzzers_Beepers.pretty"]
	path = modules/Buzzers_Beepers.pretty
	url = https://github.com/KiCad/Buzzers_Beepers.pretty.git
[submodule "modules/Capacitors_SMD.pretty"]
	path = modules/Capacitors_SMD.pretty
	url = https://github.com/KiCad/Capacitors_SMD.pretty.git
[submodule "modules/Capacitors_Tantalum_SMD.pretty"]
	path = modules/Capacitors_Tantalum_SMD.pretty
	url = https://github.com/KiCad/Capacitors_Tantalum_SMD.pretty.git
[submodule "modules/Capacitors_THT.pretty"]
	path = modules/Capacitors_THT.pretty
	url = https://github.com/KiCad/Capacitors_THT.pretty.git
[submodule "modules/Choke_Axial_ThroughHole.pretty"]
	path = modules/Choke_Axial_ThroughHole.pretty
	url = https://github.com/KiCad/Choke_Axial_ThroughHole.pretty.git
[submodule "modules/Choke_Common-Mode_Wurth.pretty"]
	path = modules/Choke_Common-Mode_Wurth.pretty
	url = https://github.com/KiCad/Choke_Common-Mode_Wurth.pretty.git
[submodule "modules/Choke_Radial_ThroughHole.pretty"]
	path = modules/Choke_Radial_ThroughHole.pretty
	url = https://github.com/KiCad/Choke_Radial_ThroughHole.pretty.git
[submodule "modules/Choke_SMD.pretty"]
	path = modules/Choke_SMD.pretty
	url = https://github.com/KiCad/Choke_SMD.pretty.git
[submodule "modules/Choke_Toroid_ThroughHole.pretty"]
	path = modules/Choke_Toroid_ThroughHole.pretty
	url = https://github.com/KiCad/Choke_Toroid_ThroughHole.pretty.git
[submodule "modules/Connectors_Amphenol.pretty"]
	path = modules/Connectors_Amphenol.pretty
	url = https://github.com/KiCad/Connectors_Amphenol.pretty.git
[submodule "modules/Connectors_Card.pretty"]
	path = modules/Connectors_Card.pretty
	url = https://github.com/KiCad/Connectors_Card.pretty.git
[submodule "modules/Connectors_Harwin.pretty"]
	path = modules/Connectors_Harwin.pretty
	url = https://github.com/KiCad/Connectors_Harwin.pretty.git
[submodule "modules/Connectors_HDMI.pretty"]
	path = modules/Connectors_HDMI.pretty
	url = https://github.com/KiCad/Connectors_HDMI.pretty.git
[submodule "modules/Connectors_Hirose.pretty"]
	path = modules/Connectors_Hirose.pretty
	url = https://github.com/KiCad/Connectors_Hirose.pretty.git
[submodule "modules/Connectors_IEC_DIN.pretty"]
	path = modules/Connectors_IEC_DIN.pretty
	url = https://github.com/KiCad/Connectors_IEC_DIN.pretty.git
[submodule "modules/Connectors_JAE.pretty"]
	path = modules/Connectors_JAE.pretty
	url = https://github.com/KiCad/Connectors_JAE.pretty.git
[submodule "modules/Connectors_JST.pretty"]
	path = modules/Connectors_JST.pretty
	url = https://github.com/KiCad/Connectors_JST.pretty.git
[submodule "modules/Connectors_Mini-Universal.pretty"]
	path = modules/Connectors_Mini-Universal.pretty
	url = https://github.com/KiCad/Connectors_Mini-Universal.pretty.git
[submodule "modules/Connectors_Molex.pretty"]
	path = modules/Connectors_Molex.pretty
	url = https://github.com/KiCad/Connectors_Molex.pretty.git
[submodule "modules/Connectors_Multicomp.pretty"]
	path = modules/Connectors_Multicomp.pretty
	url = https://github.com/KiCad/Connectors_Multicomp.pretty.git
[submodule "modules/Connectors_Phoenix.pretty"]
	path = modules/Connectors_Phoenix.pretty
	url = https://github.com/KiCad/Connectors_Phoenix.pretty.git
[submodule "modules/Connectors.pretty"]
	path = modules/Connectors.pretty
	url = https://github.com/KiCad/Connectors.pretty.git
[submodule "modules/Connectors_Samtec.pretty"]
	path = modules/Connectors_Samtec.pretty
	url = https://github.com/KiCad/Connectors_Samtec.pretty.git
[submodule "modules/Connectors_TE-Connectivity.pretty"]
	path = modules/Connectors_TE-Connectivity.pretty
	url = https://github.com/KiCad/Connectors_TE-Connectivity.pretty.git
[submodule "modules/Connectors_Terminal_Blocks.pretty"]
	path = modules/Connectors_Terminal_Blocks.pretty
	url = https://github.com/KiCad/Connectors_Terminal_Blocks.pretty.git
[submodule "modules/Connectors_USB.pretty"]
	path = modules/Connectors_USB.pretty
	url = https://github.com/KiCad/Connectors_USB.pretty.git
[submodule "modules/Connectors_WAGO.pretty"]
	path = modules/Connectors_WAGO.pretty
	url = https://github.com/KiCad/Connectors_WAGO.pretty.git
[submodule "modules/Converters_DCDC_ACDC.pretty"]
	path = modules/Converters_DCDC_ACDC.pretty
	url = https://github.com/KiCad/Converters_DCDC_ACDC.pretty.git
[submodule "modules/Crystals.pretty"]
	path = modules/Crystals.pretty
	url = https://github.com/KiCad/Crystals.pretty.git
[submodule "modules/Diodes_SMD.pretty"]
	path = modules/Diodes_SMD.pretty
	url = https://github.com/KiCad/Diodes_SMD.pretty.git
[submodule "modules/Diodes_THT.pretty"]
	path = modules/Diodes_THT.pretty
	url = https://github.com/KiCad/Diodes_THT.pretty.git
[submodule "modules/discret.pretty"]
	path = modules/discret.pretty
	url = https://github.com/KiCad/discret.pretty.git
[submodule "modules/Discret.pretty"]
	path = modules/Discret.pretty
	url = https://github.com/KiCad/Discret.pretty.git
[submodule "modules/Displays_7-Segment.pretty"]
	path = modules/Displays_7-Segment.pretty
	url = https://github.com/KiCad/Displays_7-Segment.pretty.git
[submodule "modules/Displays.pretty"]
	path = modules/Displays.pretty
	url = https://github.com/KiCad/Displays.pretty.git
[submodule "modules/divers.pretty"]
	path = modules/divers.pretty
	url = https://github.com/KiCad/divers.pretty.git
[submodule "modules/Divers.pretty"]
	path = modules/Divers.pretty
	url = https://github.com/KiCad/Divers.pretty.git
[submodule "modules/Enclosures.pretty"]
	path = modules/Enclosures.pretty
	url = https://github.com/KiCad/Enclosures.pretty.git
[submodule "modules/EuroBoard_Outline.pretty"]
	path = modules/EuroBoard_Outline.pretty
	url = https://github.com/KiCad/EuroBoard_Outline.pretty.git
[submodule "modules/Fiducials.pretty"]
	path = modules/Fiducials.pretty
	url = https://github.com/KiCad/Fiducials.pretty.git
[submodule "modules/Filters_HF_Coils_NEOSID.pretty"]
	path = modules/Filters_HF_Coils_NEOSID.pretty
	url = https://github.com/KiCad/Filters_HF_Coils_NEOSID.pretty.git
[submodule "modules/Fuse_Holders_and_Fuses.pretty"]
	path = modules/Fuse_Holders_and_Fuses.pretty
	url = https://github.com/KiCad/Fuse_Holders_and_Fuses.pretty.git
[submodule "modules/Hall-Effect_Transducers_LEM.pretty"]
	path = modules/Hall-Effect_Transducers_LEM.pretty
	url = https://github.com/KiCad/Hall-Effect_Transducers_LEM.pretty.git
[submodule "modules/Heatsinks.pretty"]
	path = modules/Heatsinks.pretty
	url = https://github.com/KiCad/Heatsinks.pretty.git
[submodule "modules/Housings_BGA.pretty"]
	path = modules/Housings_BGA.pretty
	url = https://github.com/KiCad/Housings_BGA.pretty.git
[submodule "modules/Housings_CSP.pretty"]
	path = modules/Housings_CSP.pretty
	url = https://github.com/KiCad/Housings_CSP.pretty.git
[submodule "modules/Housings_DFN_QFN.pretty"]
	path = modules/Housings_DFN_QFN.pretty
	url = https://github.com/KiCad/Housings_DFN_QFN.pretty.git
[submodule "modules/Housings_DIP.pretty"]
	path = modules/Housings_DIP.pretty
	url = https://github.com/KiCad/Housings_DIP.pretty.git
[submodule "modules/Housings_LCC.pretty"]
	path = modules/Housings_LCC.pretty
	url = https://github.com/KiCad/Housings_LCC.pretty.git
[submodule "modules/Housings_LGA.pretty"]
	path = modules/Housings_LGA.pretty
	url = https://github.com/KiCad/Housings_LGA.pretty.git
[submodule "modules/Housings_PGA.pretty"]
	path = modules/Housings_PGA.pretty
	url = https://github.com/KiCad/Housings_PGA.pretty.git
[submodule "modules/Housings_QFP.pretty"]
	path = modules/Housings_QFP.pretty
	url = https://github.com/KiCad/Housings_QFP.pretty.git
[submodule "modules/Housings_SIP.pretty"]
	path = modules/Housings_SIP.pretty
	url = https://github.com/KiCad/Housings_SIP.pretty.git
[submodule "modules/Housings_SOIC.pretty"]
	path = modules/Housings_SOIC.pretty
	url = https://github.com/KiCad/Housings_SOIC.pretty.git
[submodule "modules/Housings_SON.pretty"]
	path = modules/Housings_SON.pretty
	url = https://github.com/KiCad/Housings_SON.pretty.git
[submodule "modules/Housings_SSOP.pretty"]
	path = modules/Housings_SSOP.pretty
	url = https://github.com/KiCad/Housings_SSOP.pretty.git
[submodule "modules/Inductors_NEOSID.pretty"]
	path = modules/Inductors_NEOSID.pretty
	url = https://github.com/KiCad/Inductors_NEOSID.pretty.git
[submodule "modules/Inductors.pretty"]
	path = modules/Inductors.pretty
	url = https://github.com/KiCad/Inductors.pretty.git
[submodule "modules/Inductors_SMD.pretty"]
	path = modules/Inductors_SMD.pretty
	url = https://github.com/KiCad/Inductors_SMD.pretty.git
[submodule "modules/Inductors_THT.pretty"]
	path = modules/Inductors_THT.pretty
	url = https://github.com/KiCad/Inductors_THT.pretty.git
[submodule "modules/IR-DirectFETs.pretty"]
	path = modules/IR-DirectFETs.pretty
	url = https://github.com/KiCad/IR-DirectFETs.pretty.git
[submodule "modules/labels.pretty"]
	path = modules/labels.pretty
	url = https://github.com/KiCad/labels.pretty.git
[submodule "modules/Labels.pretty"]
	path = modules/Labels.pretty
	url = https://github.com/KiCad/Labels.pretty.git
[submodule "modules/LEDs.pretty"]
	path = modules/LEDs.pretty
	url = https://github.com/KiCad/LEDs.pretty.git
[submodule "modules/Measurement_Points.pretty"]
	path = modules/Measurement_Points.pretty
	url = https://github.com/KiCad/Measurement_Points.pretty.git
[submodule "modules/Measurement_Scales.pretty"]
	path = modules/Measurement_Scales.pretty
	url = https://github.com/KiCad/Measurement_Scales.pretty.git
[submodule "modules/Mechanical_Sockets.pretty"]
	path = modules/Mechanical_Sockets.pretty
	url = https://github.com/KiCad/Mechanical_Sockets.pretty.git
[submodule "modules/Microwave.pretty"]
	path = modules/Microwave.pretty
	url = https://github.com/KiCad/Microwave.pretty.git
[submodule "modules/Modules.pretty"]
	path = modules/Modules.pretty
	url = https://github.com/KiCad/Modules.pretty.git
[submodule "modules/Mounting_Holes.pretty"]
	path = modules/Mounting_Holes.pretty
	url = https://github.com/KiCad/Mounting_Holes.pretty.git
[submodule "modules/NF-Transformers_ETAL.pretty"]
	path = modules/NF-Transformers_ETAL.pretty
	url = https://github.com/KiCad/NF-Transformers_ETAL.pretty.git
[submodule "modules/Oddities.pretty"]
	path = modules/Oddities.pretty
	url = https://github.com/KiCad/Oddities.pretty.git
[submodule "modules/Opto-Devices.pretty"]
	path = modules/Opto-Devices.pretty
	url = https://github.com/KiCad/Opto-Devices.pretty.git
[submodule "modules/Oscillators.pretty"]
	path = modules/Oscillators.pretty
	url = https://github.com/KiCad/Oscillators.pretty.git
[submodule "modules/PFF_PSF_PSS_Leadforms.pretty"]
	path = modules/PFF_PSF_PSS_Leadforms.pretty
	url = https://github.com/KiCad/PFF_PSF_PSS_Leadforms.pretty.git
[submodule "modules/Pin_Headers.pretty"]
	path = modules/Pin_Headers.pretty
	url = https://github.com/KiCad/Pin_Headers.pretty.git
[submodule "modules/Potentiometers.pretty"]
	path = modules/Potentiometers.pretty
	url = https://github.com/KiCad/Potentiometers.pretty.git
[submodule "modules/Power_Integrations.pretty"]
	path = modules/Power_Integrations.pretty
	url = https://github.com/KiCad/Power_Integrations.pretty.git
[submodule "modules/Relays_SMD.pretty"]
	path = modules/Relays_SMD.pretty
	url = https://github.com/KiCad/Relays_SMD.pretty.git
[submodule "modules/Relays_THT.pretty"]
	path = modules/Relays_THT.pretty
	url = https://github.com/KiCad/Relays_THT.pretty.git
[submodule "modules/Resistors_SMD.pretty"]
	path = modules/Resistors_SMD.pretty
	url = https://github.com/KiCad/Resistors_SMD.pretty.git
[submodule "modules/Resistors_THT.pretty"]
	path = modules/Resistors_THT.pretty
	url = https://github.com/KiCad/Resistors_THT.pretty.git
[submodule "modules/Resistors_Universal.pretty"]
	path = modules/Resistors_Universal.pretty
	url = https://github.com/KiCad/Resistors_Universal.pretty.git
[submodule "modules/RF_Antennas.pretty"]
	path = modules/RF_Antennas.pretty
	url = https://github.com/KiCad/RF_Antennas.pretty.git
[submodule "modules/RF_Modules.pretty"]
	path = modules/RF_Modules.pretty
	url = https://github.com/KiCad/RF_Modules.pretty.git
[submodule "modules/Shielding_Cabinets.pretty"]
	path = modules/Shielding_Cabinets.pretty
	url = https://github.com/KiCad/Shielding_Cabinets.pretty.git
[submodule "modules/SMD_Packages.pretty"]
	path = modules/SMD_Packages.pretty
	url = https://github.com/KiCad/SMD_Packages.pretty.git
[submodule "modules/Sockets_MOLEX_KK-System.pretty"]
	path = modules/Sockets_MOLEX_KK-System.pretty
	url = https://github.com/KiCad/Sockets_MOLEX_KK-System.pretty.git
[submodule "modules/Sockets.pretty"]
	path = modules/Sockets.pretty
	url = https://github.com/KiCad/Sockets.pretty.git
[submodule "modules/Socket_Strips.pretty"]
	path = modules/Socket_Strips.pretty
	url = https://github.com/KiCad/Socket_Strips.pretty.git
[submodule "modules/Symbols.pretty"]
	path = modules/Symbols.pretty
	url = https://github.com/KiCad/Symbols.pretty.git
[submodule "modules/TerminalBlocks_Phoenix.pretty"]
	path = modules/TerminalBlocks_Phoenix.pretty
	url = https://github.com/KiCad/TerminalBlocks_Phoenix.pretty.git
[submodule "modules/TerminalBlocks_WAGO.pretty"]
	path = modules/TerminalBlocks_WAGO.pretty
	url = https://github.com/KiCad/TerminalBlocks_WAGO.pretty.git
[submodule "modules/TO_SOT_Packages_SMD.pretty"]
	path = modules/TO_SOT_Packages_SMD.pretty
	url = https://github.com/KiCad/TO_SOT_Packages_SMD.pretty.git
[submodule "modules/TO_SOT_Packages_THT.pretty"]
	path = modules/TO_SOT_Packages_THT.pretty
	url = https://github.com/KiCad/TO_SOT_Packages_THT.pretty.git
[submodule "modules/Transformers_CHK.pretty"]
	path = modules/Transformers_CHK.pretty
	url = https://github.com/KiCad/Transformers_CHK.pretty.git
[submodule "modules/Transformers_SMD.pretty"]
	path = modules/Transformers_SMD.pretty
	url = https://github.com/KiCad/Transformers_SMD.pretty.git
[submodule "modules/Transformers_SMPS_ThroughHole.pretty"]
	path = modules/Transformers_SMPS_ThroughHole.pretty
	url = https://github.com/KiCad/Transformers_SMPS_ThroughHole.pretty.git
[submodule "modules/Transformers_THT.pretty"]
	path = modules/Transformers_THT.pretty
	url = https://github.com/KiCad/Transformers_THT.pretty.git
[submodule "modules/Transistors_OldSowjetAera.pretty"]
	path = modules/Transistors_OldSowjetAera.pretty
	url = https://github.com/KiCad/Transistors_OldSowjetAera.pretty.git
[submodule "modules/Valves.pretty"]
	path = modules/Valves.pretty
	url = https://github.com/KiCad/Valves.pretty.git
[submodule "modules/Varistors.pretty"]
	path = modules/Varistors.pretty
	url = https://github.com/KiCad/Varistors.pretty.git
[submodule "modules/Wire_Connections_Bridges.pretty"]
	path = modules/Wire_Connections_Bridges.pretty
	url = https://github.com/KiCad/Wire_Connections_Bridges.pretty.git
[submodule "modules/Wire_Pads.pretty"]
	path = modules/Wire_Pads.pretty
	url = https://github.com/KiCad/Wire_Pads.pretty.git
