<html>
<head>
<title>Sparkfun Arduino Pro Micro</title>
</head>
<body>
<h1>Sparkfun Arduino Pro Micro</h1>
<h2>Shield</h2>

<p>This project template is the basis of an expansion board for the
<a href="https://www.sparkfun.com/products/12640" target="blank">Arduino Pro Micro.</a></p>

<p>This base project includes a PCB edge defined as the same size as the
Arduino Pro Micro PCB with the connectors placed correctly to align the two
boards.</p>

<p>The board outline looks like the following:</p>

<p><img src="board.png"></p>
<br>

See project files for licensing details. This project is open source.
<p>(c)2017 Heitor de Bittencourt<br></p>
</body>
</html>
