<html>
<head>
<title>Raspberry Pi - HAT</title>
</head>
<body>
<h1>Raspberry Pi</h1>
<h2>HAT</h2>

<p>This project template is the basis of an HAT board for the
<a href="http://www.raspberrypi.org/" target="blank">Raspberry Pi.</a></p>

<p>This base project includes a PCB edge defined as the same size as the
Raspberry-Pi PCB with the connectors placed correctly to align the two boards.
All IO present on the Raspberry-Pi board is connected to the project through the
0.1" expansion headers.</p>

<p>The board outline looks like the following:</p>

<p><img src="brd.png"></p>

</body>
</html>
