<html>
<head>
<title>Raspberry Pi - 40 pin Expansion Board</title>
</head>
<body>
<h1>Raspberry Pi</h1>
<h2>40-pin Expansion Board</h2>

<p>This project template is the basis of an expansion board for the
<a href="https://www.raspberrypi.org/" target="blank">Raspberry Pi ARM
boards that have the 40-pin header.</a>
<br> This includes the following models to date:<br>
<ul>
<li>Pi 1 A+</li>
<li>Pi 1 B+</li>
<li>Pi 2 Model B</li>
<li>Pi 3 Model B</li>
</ul>
</p>

<p>This base project includes a PCB edge as specified in the <a href="https://github.com/raspberrypi/hats/blob/master/hat-board-mechanical.pdf" target="blank">Raspberry Pi Hat Specification</a>
with the connectors placed correctly to align the two boards.
All IO present on the Raspberry-Pi board is connected to the project through the
0.1" expansion headers. Cutouts have also been defined for the camera and the 
display connctors. </p>

<p>The board outline looks like the following:</p>

<p><img src="brd.png"></p>

<p>(c)2016 Ashton Johnson<br>
(c)2016 Kicad Developers<br></p>
</body>
</html>
