<html>
<head>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
<title>EuroCard 160mm x 100mm</title>
</head>
<body>

<p>
This project template provides the outline of a standard 3U
<a href="https://en.wikipedia.org/wiki/Eurocard_(printed_circuit_board)" TARGET="blank">EuroCard</a>
measuring 160mm by 100mm.

The final PCB looks like the following:
<p>
<p><img src="brd.png" name="brd" ALIGN=BOTTOM WIDTH=600 HEIGHT=390
BORDER=0><BR><BR><BR><BR>
</p>

<p>(c)2017 David Griffith<br></p>
</body>
</html>
